<h1>Top Ten Tech Stocks of 2013</h1>
<h2>Summary:</h2>
<dl> <%@stocks.zip(@data).each do |stock, data| %>
<dt><a href = "/stocks/<%= stock %>"><%=stock %></a></dt>
<dd> Ask: <%= data.ask %>; Last Trading Price: <%= data.last_trade_price%></dd>
<% end %>
</dl>


