<h1>Your Stock Information</h1>

<dl>
	<dt>Symbol: <%= @show_ticker.symbol %></dt>
	<dt>Last Trade Price:</dt><dd> <%= @show_ticker.last_trade_price %></dd>
	<dt>High:</dt><dd> <%= @show_ticker.high %></dd>
</dl>

